<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<title>Add book to list</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<h1>Add new category</h1>
<div>
 <form th:object="${category}" th:action="@{saveCategory}" action="#" method="post">
 <label for="title">Name</label>
 <input type="text" id="name" th:field="*{name}" />
 <input class="btn btn-success" type="submit" value="Save"></input>
 </form>
</div>
	
</body>



</html>