<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Edit book</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<h1>edit book</h1>
<div>

 
 <form th:object="${book}" th:action="@{../save}" action="#" method="post">
 <input type="hidden" th:field="*{id}" class="form-control"/>
<input type="text" th:field="*{title}"  class="form-control" />
<input type="text" th:field="*{author}"  class="form-control" />
<input type="text" th:field="*{year}"  class="form-control" />
<input type="text" th:field="*{isbn}"  class="form-control" />
<input type="text" th:field="*{price}"   class="form-control" />
<input type="submit" class="btn btn-success" value="Save"></input>
</form>
 
 
 
 
 
</div>
	
</body>



</html>